body {
	background-image: url(../images/backgroundhouses.jpg);
	text-align: center;
	vertical-align: center;
	margin-top: 100px;
	font-family: "Harry Potter", Ariel;
}
@font-face {
  font-family: 'Harry Potter';
  src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
}
h1 {
	font-family: "Harry Potter";
	font-size: 80px;

}
.row {
	border: solid, black, 2px;
}
#right {
	letter-spacing: 3px;
}